@font-face {
  font-family: 'Comic Sans MS';
  font-style: normal;
  font-weight: normal;
  src: local('Comic Sans MS'), url('comic-sans.woff') format('woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.5em;
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.mainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}